.page {
    width: 800px;
    background-color: white;
    margin: auto;
    padding: 20px;
    padding-top: 10px;
	padding-bottom: 10px;
}

body {
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
}

.pure-g {
    margin-bottom: 0px;
}

.pure-u-2-3{
	background-color: #e6e6e6;
	margin-bottom: 10px;
}

.title-box{
	background-color: #102f86;
	padding: 1px;
	margin-bottom: 10px;
}

.heading-box{
	background-color: #006dae;
	padding: 10px;
}

.commentary-box{
	background-color: #e6e6e6;
	padding: 5px;
	margin-bottom: 7px;
	margin-right: 10px;
}

.commentary-box-bottom{
	background-color: #e6e6e6;
	padding: 5px;
	margin-right: 10px;
}

.level-box{
	background-color: #e6e6e6;
	padding: 1px;
	margin-bottom: 10px;
}

.gender-box{
	background-color: #e6e6e6;
	padding: 1px;
	margin-bottom: 10px;
}

.box {
	padding: 10px;
	padding-bottom: 5px;
}

.annotation {
	background-color: #969696;
	margin: 5px;
	padding: 10px;
	margin-top: 10px;
}

.annotation-domestic {
	background-color: #9a8aae;
	margin: 5px;
	padding: 10px;
	margin-top: 10px;
}

.annotation-international {
	background-color: #d1a288;
	margin: 5px;
	padding: 10px;
	margin-top: 10px;
}

.diverging-box {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	background-color: white;
}

.diverging-box-left {
	background-color: white;
	margin-left: 10px;
	margin-bottom: 10px;
}

.diverging-box-right {
	background-color: white;
	margin-right: 10px;
	margin-bottom: 10px;
}
